.nav li{
	list-style: none;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear:both;
}

.group {
	zoom: 1;
}

.sidebar{
	width: 33%;
	float: left;
}

.p{
	padding: 0px;
	margin-top: 0px 0px;
}

h1{
	
	padding: 0px;
	margin: 0px;
}